*{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}

.container{
	width:60%;
	min-height: 100%;
	margin:auto;

}

.topbar{
	background-color:rgb(0,91,157);
	width:100%;
	height:48px;
	color:white;
	line-height: 48px;
	vertical-align: middle;
}

.topbar div{
	padding-left:16px;
	padding-right:16px;
	font-family: 'Cinzel Decorative', cursive;
}

.heroholder{
	width:100%;
	height:360px;
	display:table;
	background-size:cover;
	background-position: center;
	
}

.hero{
	display:table-cell;
	vertical-align: middle;
}

.sidebar{
	background-color:rgb(0,91,157);
	width:30%;
	float:left;
}

.sidebar .sidebtn{
	width:100%;
	min-height:30px;
	line-height:30px;
	color:white; 
	font-family: 'Cinzel Decorative', cursive;
	text-decoration: none;
	transition:.5s;
	display:block;
	text-align: center;
	background-color:rgb(0,50,100);
	margin-bottom:1px;
}

.sidebar .sidebtn:hover{
	cursor:hand;
	background-color:rgb(0,20,50);;
}

.subcat{
	width:100%;
	height:20px;
	line-height:20px;
	color:black;
	background-color:white;
	font-family: 'Roboto', sans-serif;
	transition:.5s;
	text-decoration: none;
	display:block;
	margin-bottom:1px;
	text-align: center;
	font-size:12px;
}

.subcat:hover{
	background-color:rgb(0,91,157);
	color:white;
}

.content{
	width:70%;
	float:right;
	padding-top:16px;
	padding-bottom:16px;
}

.text{
	width:80%;
	margin:auto;
	font-family: 'Quicksand', cursive;
	color:black;
	font-weight: bold;
}

@media screen and (max-width: 900px) {
    .container{
    	width:100%;
    }

    .sidebar{
    	float:none;
    	width:100%;
    }

    .content{
    	float:none;
    	width:100%;
    }
}